.project__content {
  overflow: hidden;
  text-align: left;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--container-color);
  margin-top: 64px;
}

.projects__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project__img-wrapper {
  overflow: hidden;
  border-radius: 8px;
}

.project__img {
  border-radius: 8px;
  vertical-align: middle;
  transition: all 0.6s var(--transiition);
}

.project__content:hover .project__img {
  transform: scale(1.04);
}


.project__title {
  color: gold;
}

.project__description {
  margin-top: 16px;
  min-height: 125px;
  margin-bottom: 16px;
  color: white;
}

.project__title {
  margin-top: 30px;
}

.button-links {
  display: flex;
  justify-content: space-between;
  width: inherit;
  justify-content: center;
  gap: 12px;
}

.button-links button {
  margin-top: 16px;
  height: 16px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  line-height: 0px;
  padding: 12px;
}


@media screen and (max-width: 992px) {
  .projects__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}